<head>
    <title>Bodybuilding: A Beginners Guide</title>
    <meta name="description" content="Learn all the tips that you might be needing if you are just starting out on your fitness journey.">
    <meta name="twitter:card" content="summary">
    
    <meta property="og:type" content="blog">
    <meta property="og:title" content="Bodybuilding: A Beginners Guide">
    <meta property="og:description" content="Learn all the tips that you might be needing if you are just starting out on your fitness journey.">
    <meta property="og:url" content="https://www.fastfit21.com">
    <meta property="og:image" content="https://images.unsplash.com/photo-1544133782-b62779394064?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
  
    <meta name="twitter:title" content="Bodybuilding: A Beginners Guide">
    <meta name="twitter:description" content="New to fitness?? Learn all the tips if you are just starting out on your fitness journey.">
    <meta name="twitter:url" content="https://www.fastfit21.com">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1544133782-b62779394064?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
  </head>
  
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="#" rel="tooltip"  data-placement="bottom" target="_blank">
            <img class="logo animated rubberBand infinite slower" alt="website-logo" data-lazy="../../../assets/img/FastFit21.png"/>
          </a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" rel="tooltip"  data-placement="bottom" href="/" target="_blank">
                Home
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" rel="tooltip"  data-placement="bottom" href="http://www.bestfitnessplans.com/" target="_blank">
                Join BestFitnessPlans
              </a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" rel="tooltip" data-placement="bottom" href="#" target="_blank">
                Contact
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  
    <div class="page-header section-dark" style="background-image: url('./assets/img/FastFit21 cover.png')">
      <div class="filter"></div>
      <div class="content-center">
        <div class="container">
          <div class="title-brand">
            <h1 class="presentation-title" style="font-size: 4.5em;"></h1>
            <div class="fog-low">
              <img data-lazy="./assets/img/fog-low-opti.webp" alt="website-background">
            </div>
            <div class="fog-low right">
              <img  data-lazy="./assets/img/fog-low-opti.webp" alt="website-background">
            </div>
          </div>
          <h2 class="presentation-subtitle text-center"></h2>
        </div>
      </div>
      <div class="moving-clouds" style="background-image: url('./assets/img/clouds-opti.webp'); "></div>
      <h6 class="category category-absolute">
       
      </h6>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-10 col-sm-12">
                    <!-- <div class="about-image">

                    </div> -->
                        <img class="about-image" src="about my image" data-lazy="../../../assets/img/about_image.jpg"/> 
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-10 col-sm-12">
                    <div class="about-intro-div">
                        <p>
                            Hey guys, so glad to have you here! I am Aman Sutariya, a 22 year 'young' student with a passion for fitness and a healthy lifestyle. I boarded the fitness train when i was 16 years, too young to realize that this will one day become an integral part of my life.

                            <br/>
                            <br/>

                            I here at FastFit21 want to share all the knowledge that I have gathered from my 5 year journey and wish to 
                            help others who pursue the same goals. If you are one of us, come aboard and we shall journey together.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-10 col-sm-12">
                    <div class="about-intro-div-1">
                        <p> Stay updated with our posts. Subscribe to my weekly newsletter.</p>
                        <br/>
                        <br/>
                        <img class="img-fluid" alt="newsletter-image" data-lazy="../../../assets/img/newsletter.png"/>
                        <a class="btn btn-primary newsletter-button" routerLink="/newsletter">Subscribe to my weekly newsletter</a>
                    </div>
                </div>
            </div>

            <div class="footer">
                <footer class="footer-section">
                <ul class="footer-list">
                    <li class="footer-list-item"><a style="color: white;" href="https://www.twitter.com/@aman_sutariya"><i class="fa fa-twitter-square"></i></a></li>
                    <li class="footer-list-item"><a style="color: white;" href="https://www.facebook.com/fastfit21.fitness/"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="footer-list-item"><a><i class="fa fa-instagram"></i></a></li>
                    <li class="footer-list-item"><a><i class="fa fa-linkedin-square"></i></a></li>
                </ul>   
                <ul class="footer-list-2">
                    <li class="footer-list-item-2"><a style="color: white;" routerLink="/about">ABOUT</a></li>
                    <li class="footer-list-item-2"><a>CONTACT</a></li>
                    <li class="footer-list-item-2"><a style="color: white;" routerLink="/newsletter" style="color: white;">SUBSCRIBE</a></li>
                </ul>
                <p class="copyright-trademark">© 2020 FASTFIT21 , LLC | LEGAL</p>
                </footer>
                </div>



        </div>
    </div>
  