

  <app-fit-sidebar></app-fit-sidebar>
    
  <div class="main" >
  <div class="container">
      <div class="row">
          <div class="col-sm-12 ">
            
                <div class="title text-center pb-5">
                    <h2 class="font-weight-600 m-0">Trainers</h2>
                    <span class="hr-line mt-4 mb-4"></span>
                    <p class="mb-4">Choose your desired trainers and they will help you reach your desired goal with their designed plans and workouts </p>
    
                    <!-- filter links -->
                    <div class="filtering col-sm-12 text-center pt-2">
                        <span data-filter="*" class="active ">ALL</span>
                        <span data-filter=".male">MALE</span>
                        <span data-filter=".female">FEMALE</span>

                    </div>
                </div>
            
            
          </div>
          <div class="col-lg-12 center-column">
            <ul class="da-thumbs gallery" style="padding: 10px;">

                <li class="items male">
                    <img src="../../../assets/img/mega1.jpg" alt="img">
                    <div class="overlay">
                        <a href="../../../assets/img/mega1.jpg" class="text-center" rel="group">
                            <!-- <div class="search-icon"><i class="fa fa-search"></i> </div> -->
                            <h4 class="">Jeff Seid</h4>
                        </a>
                    </div>
                </li>

                <li class="items female">

                    <img  src="../../../assets/img/mega1.jpg" alt="img">
                    <div class="overlay">
                        <a href="../../../assets/img/mega1.jpg" class="text-center fancybox"  rel="group" >
                            <!-- <div class="search-icon"><i class="fa fa-search"></i> </div> -->
                            <h4 class="">Amanda Cerny</h4>
                        </a>
                    </div>
                </li>

                <li class="items female ">
                    <img src="../../../assets/img/mega2.jpg" alt="img">
                    <div class="overlay">
                        <a href="../../../assets/img/mega2.jpg" class="text-center">
                            <!-- <div class="search-icon"><i class="fa fa-search"></i> </div> -->
                            <h4 class="">Mike O Hearn</h4>
                        </a>
                    </div>
                </li>

                

                <li class="items male">

                    <img  src="../../../assets/img/mega1.jpg" alt="img">
                    <div class="overlay">
                        <a href="../../../assets/img/mega1.jpg" class="text-center">
                            <!-- <div class="search-icon"><i class="fa fa-search"></i> </div> -->
                            <h4 class="">David Laid</h4>
                        </a>
                    </div>
                </li>

                <li class="items female">
                    <img  src="../../../assets/img/mega2.jpg" alt="img">
                    <div class="overlay">
                        <a href="../../../assets/img/mega2.jpg" class="text-center">
                            <!-- <div class="search-icon"><i class="fa fa-search"></i> </div> -->
                            <h4 class="">Chris Bumpstead</h4>
                        </a>
                    </div>
                </li>

                <li class="items male">
                    <img  src="../../../assets/img/mega4.jpg" alt="img">
                    <div class="overlay">
                        <a href="../../../assets/img/mega4.jpg" class="text-center">
                            <!-- <div class="search-icon"><i class="fa fa-search"></i> </div> -->
                            <h4 class="">Tavi Castro</h4>
                        </a>
                    </div>
                </li>    

               
            </ul>
        </div>  
        
      </div>
  </div>
</div>