/* Global css for post2 */
.logo {
    max-width: 100%;
    height: 70px;
    border-radius: 50%;
}

.header-image {
    border-radius: 50%;
}

.header-styling {
    font-family: cursive ;
    font: italic;
}


pre {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

main {
    margin: 2rem;
}

img {
    max-width: 100%;
    height: 200px;
}

.corona-1 {
    margin: 2rem 0 0 15rem;
    border-radius: 4px;
}

[ class *= 'col-'] {
    display: flex;
    justify-content: center;
    margin: 2rem;
    align-items: center;
    padding: 0;
}

[class *= 'row'] {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow:  10px 8px 10px #888888;;
}

@media only screen and (min-width: 370px) and (max-width: 390px) {
    img {
        max-width: 100%;
        height: 150px;
    }

    .corona-1 {
        margin: 0;
    }
    
    
    ul {
        margin: 0;
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .presentation-title {
        font-size: 4.5em;
    }
}

@media only screen and (min-width: 391px) and (max-width: 480px) {
    img {
        max-width: 100%;
        height: 300px;
    }

    .corona-1 {
        margin: 0;
    }

    
    ul {
        margin: 0;
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .presentation-title {
        font-size: 4.5em;
    }

    }

    @media only screen and (max-width: 768px) {
    
        .corona-1 {
            margin: 0;
        }
    }

