<head>
    <title>Tackle Infections by boosting immunity.</title>
    <meta name="description" content="Boost your immunity against viruses like corona to keep infections at bay.">
    <meta name="twitter:card" content="summary">

    
    <meta property="og:type" content="blog">
    <meta property="og:title" content="Tackle infections by boosting immunity">
    <meta property="og:description" content="Boost your immunity against viruses like corona to keep infections at bay.">
    <meta property="og:url" content="https://www.fastfit21.com">
    <meta property="og:image" content="https://images.unsplash.com/photo-1511870563328-22efd1ad5faf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">


    <meta name="twitter:title" content="Tackle infections by boosting immunity">
    <meta name="twitter:description" content="Boost your immunity against viruses like corona to keep infections at bay.">
    <meta name="twitter:url" content="https://www.fastfit21.com">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1511870563328-22efd1ad5faf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
</head>

<nav id="mynav" class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip"  data-placement="bottom" target="_blank">
          <img class="logo animated rubberBand infinite slower" src="../../../assets/img/FastFit21.png"/>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="/" target="_blank">
              Home
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="http://www.bestfitnessplans.com/" target="_blank">
              Join BestFitnessPlans
            </a>
          <!--</li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" data-placement="bottom" href="#" target="_blank">
              Contact
            </a>
          </li> -->
        </ul>
      </div>
   <head>
       <title>Best protein supplements for bodybuilding</title>
       <meta name="description" content="Get your desired physique by consuming the best protein supplements available in the market">
   </head>
   
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="page-header section-dark" style="background-image: url('./assets/img/covid191.jpg') ;background-position: bottom; ">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Tackle <br/>Infections,<br/> Boost <br/> Immunity</h1>
          <div class="fog-low">
            <img src="./assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="./assets/img/fog-low.png" alt="">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center"></h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('./assets/img/clouds.png'); "></div>
    <h6 class="category category-absolute">
     
    </h6>
  </div>

  <div class="main">
      <div class="container">

        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-12 ">
                <!-- <img class="header-image img-fluid" src="../../../assets/img/wix logo.jfif"/> -->
                <h1 class="header-styling">How to boost your immunity to tackle infections.</h1> 
                <!-- <img class="header-image img-fluid" src="../../../assets/img/Lets learn.png"/> -->
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <p>
                    The Novel Coronavirus has taken the world by the storm, with more than 150,000 infected and 7000 dead. It is turning out to be a pandemic that the world has ever seen and only God knows what the future holds. Let's face it we are living in an era where these vicious outbreaks are gonna come and go and threaten humanity and what the situation demands is that we take steps to prevent these infections by bringing major changes to our daily lifestyle because we all know during times like these as Darwin quoted "the survival of the fittest".
                    <br/>
                    <br/>

                    So let's answer the question of what can we do to tackle these deadly infections that threaten to poison our lives and the simple answer is by making our body and immunity so strong that viruses like these can do us no harm.
                    <br/>
                    <br/>

                    The process includes some major lifestyle changes ranging from diet to exercise with some classics like meditation and yoga. And we all know that prevention is always better than cure so we will also look at some prevention steps that you can practice in your day-to-day activities to keep these infections at bay.

                    <br/>
                    <br/>

                    <img class="corona-1" src="../../../assets/img/corona-1.jpg"/>
            </p>
            </div>
            <app-sidebar class="col-lg-2"></app-sidebar>
        </div>

        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <ul>
                    <li><h2>Factors related to immunity.</h2></li>
                    <br/>
                    <ul>
                        <li><h4>Diet</h4></li>
                        <br/>
                        <p>The first line of defense that the immunity of the body marches on is the stomach.The consumption of a healthy diet leads to the production of T-cells that are the building pillars of a person's immunity. When it comes to diet the green leafy vegetables are your best friends as they tend to contain high levels of vitamins required for the body's proper nutrition. Other foods that boost immunity include Dark Chocolate, Fish(salmon and tuna), Blue Berries, Almonds, Walnuts, Brocolli, Ginger and Garlic.
                        <br/>
                        <br/>
                        According to the stats published by the WHO, the people belonging to many developing and under-developed countries are suffering from acute malnutrition which in turn increases their chances of catching infections.

                        </p>
                        <img class="diet-1" src="../../../assets/img/diet.jpg"/>
                    </ul>

                    <ul>
                        <li><h4>Stress</h4></li>
                        <br/>
                        <p>
                            Chronic stress can prove to be one of the prime reasons for a weakened immune system as it produces cortisol that is scientifically suspected to decrease the levels of T-cells thus making the body more susceptible to catching infections. Manage those stress levels by doing yoga and meditation to clear your head of any acute stress you might be suffering from.
                        </p>
                        <img src="../../../assets/img/exercisepost4.jpg"/>
                    </ul>

                    <ul>
                        <li><h4>Exercise</h4></li>
                        <br/>
                        <p>
                            When it comes to immunity, the factor that is most debated is the amount of exercise you must be doing. As it is proven that a long duration of intense overtraining can adversely affect your immune system. So what is the optimum level of exercising and the answer is it depends and varies from person to person. When you overtrain, your body starts giving off signals to slack off and take it easy. Some of the symptoms include delayed recovery from workouts, sore muscles, increased susceptibility to infectious diseases and fatigue.
                            <br/>
                            <br/>
                            So when you feel that your body is trying to tell you something, listen to it and take a break for it to recover faster and ultimately increasing the overall immunity of the body.
                        </p>
                        <img src="../../../assets/img/runningpost4.jpg"/>
                    </ul>

                    <ul>
                        <li><h4>Age</h4></li>
                        <br/>
                        <p>

                        Aging is one inevitable truth that no human can deny. But what are changes that happen to the immune system as the person ages? According to WHO, more than 65% of people above the age of 40 suffer from some type of disease may it be cardiovascular disease, diabetes or cancer. So when the lifestyle is taken care of from the beginning,the immunity maintains itself in the long run. 
                        <br/>
                        <br/>

                        Some elite athletes have been rumored to maintain healthy levels of immunity in their 70s and 80s.
                        </p>
                        
                    </ul>

                    <ul>
                        <li><h4>Smoking and Consumption of Alcohol</h4></li>
                        <br/>
                        <p>

                        Smoking or Alcohol? Which is the lesser evil of the two? It doesn't matter when it comes to immunity, the consumption of both should be avoided or else reduced to benefit in the long run. Especially smoking as it is scientifically proven that consumption of tobacco can increase susceptibility to infections like influenza and pneumonia and lowers the levels of antioxidants in the body.
                        </p>
                    </ul>

                    <ul>
                        <li><h4>Sleep</h4></li>
                        <br/>
                        <p>

                        Healthy sleeping cycles are essential for the proper functioning of the body. Inadequate sleep adversely affects the body as it lowers the levels of cytokines, protective protein supplements released by your immune system during your goodnight's sleep. So be less of a night owl and crave for some class A sleep because the more all-nighters you pull the more chances you have of catching infections.
                        </p>
                        <img src="../../../assets/img/sleep.jpg"/>
                    </ul>

                    <ul>
                        <li><h4>Supplementation</h4></li>
                        <br/>
                        <p>
                            Supplementation becomes necessary when you are not able to gain enough vitamins and minerals from your diet. Opt for supplements that provide you with various vitamins from A to E. Lookout for vitamin B12 as it plays an important role in the production of white blood cells and check those protein levels in your diet because antibodies and white blood cells rely on protein in your body. Check here for the list of <a routerLink="/best_protein_supplements">
                                best protein supplements.
                            </a>
                        </p>
                    </ul>

                </ul>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <ul>
                    <li><h2>Steps to prevent Covid19</h2></li>
                    <br/>
                    <ul>
                        <li>
                            <p>
                            Frequently wash your hands with soap and water for at least 20 seconds. When soap and running water are unavailable, use an alcohol-based hand rub with at least 60% alcohol. Always wash hands that are visibly soiled.
                        </p>
                        </li>
                        <li>
                            <p>
                            Avoid touching your eyes, nose, or mouth with unwashed hands.
                        </p>
                        </li>
                        <li>
                            <p>
                            Avoid close contact with people who are sick.
                        </p>
                        </li>
                        <li>
                            <p>Stay home when you are sick, except to get medical care.
                            </p>
                        </li>
                        <li>
                            <p>Cover your coughs and sneezes with a tissue.
                            </p>
                        </li>
                        <li>
                            <p>
                                Clean frequently touched surfaces and objects daily (e.g., tables, countertops, light switches, doorknobs, and cabinet handles) using a regular household detergent and water.
                            </p>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <hr/>

        <app-footer></app-footer>

      </div>
  </div>
