<head>
    <title>Weight loss journey and fat loss transformation</title>
    <meta name="description" content="Learn the journey behind some of the inspiring fat loss transformation">

    
    <meta property="og:type" content="blog">
    <meta property="og:title" content="Weight loss journey and fat loss transformation">
    <meta property="og:description" content="Learn the journey behind some of the inspiring fat loss transformation.">
    <meta property="og:url" content="https://www.fastfit21.com">
    <meta property="og:image" content="https://cdn.pixabay.com/photo/2014/07/28/11/22/tape-403591_1280.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Weight loss journey and fat loss transformation">
    <meta name="twitter:description" content="Learn the journey behind some of the inspiring fat loss transformation.">
    <meta name="twitter:url" content="https://www.fastfit21.com">
    <meta name="twitter:image" content="https://cdn.pixabay.com/photo/2014/07/28/11/22/tape-403591_1280.jpg">
</head>

<app-navbar></app-navbar>

  <div class="page-header section-dark" style="background-image: url('./assets/img/elleah-title-image.webp');background-position: top 20%; ">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title"></h1>
          <div class="fog-low">
            <img data-lazy="./assets/img/fog-low-opti.webp" alt="website-background">
          </div>
          <div class="fog-low right">
            <img data-lazy="./assets/img/fog-low-opti.webp" alt="website-background">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center"></h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('./assets/img/clouds-opti.webp'); "></div>
    <h6 class="category category-absolute">
     
    </h6>
  </div>


  <div class="main">
    <div class="container">

        <div class="row">
            <div class=" col-lg-11 col-md-10 col-sm-12 ">
  
                <div class="header-flex" style="flex-direction: column;justify-content: center;">

                    <h1 class="header-styling" style="font-family: futra-pt;font-size: 52px;">An Inspiring weight-loss Journey
                    </h1> 
                    <br/>
                    <div class="chika" style="display:flex;flex-direction: row;">
                    <p style="justify-self: center;">by <a style="text-decoration: underline;">Elleah Morgan,</a></p>
                    <ul style="display: flex;flex-direction: row;padding: 0;">
                        <li><a style="font-size: 25px;margin: 20px;"  href="https://www.twitter.com/@elleahmorgan"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/elleahmorgan" style="font-size: 25px;"><i class="fa fa-instagram"></i></a></li>
                        
                    </ul>   
                </div>
                    
      

                </div>

            </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">

            <ul>
                <li><h2>"Only I Can Change My Life, No One Can Do It For Me. ."</h2></li>
                <br/>

                <img style="align-content: center;width: 100%;height: 400px;" data-lazy="../../../assets/img/elleah-opti.webp" alt="an inspiring fat- loss transformation"/>

                <br/>
                <br/>
                <br/>
                <br/>

    
            <p style="font-size: 25px;">

                My whole life I had been overweight, with every year aged I would gain a stone (when I was 8, I was 8 stone, 9, 9 stone, 10, 10 stone, etc). Before I knew it I had ballooned to almost 21 stone.
                <br/>
                <br/>

                Throughout my life I had names thrown at me daily, I was bullied severely for my weight, on occasions I was even hit for it. I was so unhappy in myself and at one point I even lost the hope to go on. Although I was unhappy in my body, I knew I was always going to hate it and learned to accept it. I had given up hope.
                <br/>
                <br/>


                A few years later I packed up my bags and ventured to Newquay, when I arrived there I was amazed, people skating/ surfing, walking, making the most of the beautiful scenery. I found myself exploring the area and found the weight dropping off, this gave me the motivation to start dieting and eating better (1200 calories per day on a low carb diet).
                <br/>
                <br/>

                In 3 months I had managed to lose 2 stone and with that, I decided I would push myself further and take on swimming, something I'm not very experienced at as I figured this would also be a great life skill. 3 months later and 2 more stone lighter I decided to join the gym! I embraced the active lifestyle Newquay had to offer and found myself trying things I had never tried before.
                <br/>
                <br/>

                Nearly 2 years on and I am now over 8 and a half stone (122 lbs) lighter. I have found I have so much more confidence and I am very proud of what I've achieved. Instead of getting horrible remarks now, I get praise and compliments. I never thought I would achieve this, my life has only just begun and I never truly realized what life had to offer.
                <br/>
                <br/>

                My goal is to lose another 1.5 stone (21lbs) so I have lost half of my body weight.
                <br/>
                <br/>

                </p>
                <hr style="font: black;"/>

                <p>
                    Do you have a compelling personal transformation story you’d like to see published on Fastfit21? Find out what we’re looking for and send us a <a href="mailto:sutariyaaman1998@gmail.com">pitch</a>! 

                </p>
                </ul>
            </div>
            </div>

            <hr/>

            <app-footer></app-footer>


    </div>
</div>