<!-- <app-fit-sidebar></app-fit-sidebar> -->

<head>
    <title>Calorie Tracker and Recipe Search</title>
    <meta name="description" content="Search for over 700,000 ingredients and recipes with nutritional labels for each item.">
    
  
    <meta property="og:type" content="website">
    <meta property="og:title" content="Calorie Tracker and Recipe Search">
    <meta property="og:description" content="Search for over 700,000 ingredients and recipes with nutritional labels for each item.">
    <meta property="og:url" content="https://www.fastfit21.com">
    <meta property="og:image" content="https://images.unsplash.com/photo-1540660290370-8aa90e451e8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aman_sutariya">
    <meta name="twitter:title" content="Calorie Tracker and Recipe Search">
    <meta name="twitter:description" content="Search for over 700,000 ingredients and recipes with nutritional labels for each item.">
    <meta name="twitter:url" content="https://www.fastfit21.com">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1540660290370-8aa90e451e8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
  </head>
  

<div class="main">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 ">
              
                  <div class="title text-center pb-5">
                      <h2 class="font-weight-600 m-0">Calorie Tracking and Meal Search</h2>
                      <span class="hr-line mt-4 mb-4"></span>
                      <p class="mb-4">Search for over 700,000 food and meal items </p>
                      <nav>

                          <a class="link-calorie" href='/recipe_search'>RECIPES</a>
                          <a class="link-calorie" href="/calorie_tracker">INGREDIENTS</a>
                          
                      </nav>
      
                      
                  </div>
              
              
            </div>
            </div>
       

    <form id="search" style="display: flex; flex-direction: row;" (ngSubmit) = "onSubmit(f)" #f='ngForm'>
        <input placeholder="Search for a food or meal." style="margin: 1rem;" type="text" id="name" name="name" ngModel class="form-control" />
        <button style="margin-bottom: 1rem;" class="btn btn-primary" type="submit" >Submit</button>
    </form>

    <div id="bale"></div>

    <footer>
        <div  id="edamam-badge"></div>
    </footer>



</div>
</div>