<!-- <div id="loading-screen" class="loader1">
  <div id="loading-area"></div>
</div> -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip"  data-placement="bottom" target="_blank">
          <img class="logo animated rubberBand infinite slower" src="../../../assets/img/FastFit21.png"/>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink='/' target="_blank">
              Home
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="http://www.bestfitnessplans.com/" target="_blank">
              Join BestFitnessPlans
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" data-placement="bottom" routerLink='/' target="_blank">
              Blog
            </a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <app-fit-sidebar></app-fit-sidebar>

  <!-- <app-admin></app-admin> -->

<section>
<div class="main" style="background-image: url('../../assets/img/runningpost4.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;">
    <div class="gradient">
        <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" playsinline="true"> 
            <!-- <source src="http://coming-sssoon.paperplane.io/video/time.webm" type="video/webm">  -->
            <!-- <source src="../../assets/videos/fitoinline.mp4" type="video/mp4"> 
            <source src="../../assets/videos/fitoinline_webm.webm" type="video/webm">
            Video not supported  -->
        </video>
            <!--    Change the image source '/images/video_bg.jpg')" with your favourite image.     -->
    </div>
        


            <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
      <div id="site-name" class="show logo cursive">
        <span class="c1  wow slideInLeft" data-wow-delay="5000ms"  >F</span>
        <span class="c2 wow fadeInUp" data-wow-delay="5050ms" >A</span>
        <span class="c3 wow fadeInUp" data-wow-delay="6000ms" >S</span>
        <span class="c4 wow fadeInUp" data-wow-delay="6050ms" >T</span>
        <span class="c5 wow fadeInUp" data-wow-delay="7000ms">F</span>
        <span class="c6 wow fadeInUp" data-wow-delay="7050ms" >I</span>
        <span class="c7 wow fadeInUp" data-wow-delay="8000ms">T</span>
        <span class="c8 wow fadeInUp" data-wow-delay="8050ms">2</span>
        <span class="c9 wow slideInRight" data-wow-delay="9000ms">1</span>

      </div>
        <!-- <h1 class="logo cursive">
            FastFit21
        </h1>  -->
              <!-- H1 can have 2 designs: "logo" and "logo cursive"           -->
        
         <div class="content">
            <h4 class="motto">One destination for all things fit.</h4>
            <div class="subscribe">
                <h5 class="info-text">
                    Learn everything exercise, yoga, calisthenics, zumba from the best professional trainers . 
                </h5>
            </div>
        </div>
        
    </div>
     
    <div class="last">
    </div> 

     </div> 
</section>


    
      <section>
      <div class="row">
        <div class="col-lg-12 col-md-10 col-sm-12">
            <div class="intro-fitonline">
                <h1 class="heading-intro-fitonline" style="font-family: futura-pt;">Fitness .Transformed.</h1>
                <div class="buttons-store">
                  <a style="margin: 5px;"><img class="img-fluid" src="https://images.fitplanapp.com/web/select-device/apple-badge.png?&tr=none"/></a>
                  <a style="margin: 5px;"><img class="img-fluid" src="https://images.fitplanapp.com:443/web/select-device/google-badge.png?&tr=none"/></a>
                </div>
            </div> 
        </div>
    </div>
  </section>

    <section>
      <div class="row">
        <div class="col-lg-12 col-md-10 col-sm-12 col-features" style="margin: 0;">

          
            <div class="col-lg-3">
              <div class="vision-fitonline-1 wow slideInLeft" data-wow-delay="1000ms">
                <div class="quote-box">
                  <i class="fa fa-quote-right quote"></i>
                </div>
                <h1 style="font-family: futura-pt;">Find your plan</h1>
                <p class="vfo1-para">Get the best fitness plans and workouts from trained athletes and coaches all the over the world.
                </p>
            </div>
            </div>
          

          
            <div class="col-lg-4">
              <div class="vision-fitonline-2 fadeInUp" data-wow-delay="1000ms">
                <div class="quote-box-1">
                  <i class="fa fa-quote-right quote-1"></i>
                </div>
                <h1 style="font-family: futura-pt;">Get step-wise induction</h1>
                <p class="vfo2-para">
                  Talk personally with your selected coach and formulate a fitness plan according to your needs and get step by step induction on how to perform particular exercises.
                </p>
              </div>  
            </div>
          
           
         
            <div class="col-lg-3">
              <div class="vision-fitonline-1 wow slideInRight" data-wow-delay="1000ms">
                <div class="quote-box">
                  <i class="fa fa-quote-right quote"></i>
                </div>
                <h1 style="font-family: futura-pt;">Stay Motivated</h1>
                <p class="vfo1-para">Boost yourself with all the positive energy that our trainers will be providing you. Stay fit and stay healthy.</p>
              </div>
            </div>
          
            
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="img-shapes">
            <img class="img-fluid shapes-image"  src="../../assets/img/shapes.png"/>
          </div>
        </div>
      </div>
    </section>

    <section>
    <div class="section pt-o" id="carousel" style="padding: 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 ml-auto mr-auto carousel-division" style="margin: 0;">

            <div class="card page-carousel wow slideInLeft" data-wow-delay="1000ms">
              <h1 class="carousel-header-styling">Workouts</h1>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="../../assets/img/body.jpg.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/img/abs1.jpg.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/img/perfect_diet.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div class="card page-carousel wow fadeInUp" data-wow-delay="1000ms">
              <h1 class="carousel-header-styling">Yoga</h1>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="../../assets/img/body.jpg.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/img/abs1.jpg.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/img/perfect_diet.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div class="card page-carousel wow slideInRight" data-wow-delay="1000ms">
              <h1 class="carousel-header-styling">Zumba</h1>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="../../assets/img/body.jpg.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/img/abs1.jpg.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/img/perfect_diet.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div> 
        </div> 
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="featured-plan-buttons">
          <a href="#" class="btn btn-primary top-newsletter-button-1">Find a plan</a>
          <a href="#" class="btn btn-primary top-newsletter-button-2">Meet our trainers</a>
        </div>
      </div>
    </div>
  </section>


    <section>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-3 col-md-2">
            <div class="feature-image-watch wow fadeInUp" data-wow-delay="1000ms">
              <img class="feature-image-watch-image img-fluid" src="../../assets/img/FastFit21 cover.png"/>
              <picture>
                <img class="img-fluid" src="../../assets/img/fitplan_apple.png"/>
              </picture>
            </div>
          </div>
          <div class="col-lg-3 col-md-2">
            <h1 class="feature-image-heading" style="font-family: futura-pt;">Get access to any device anywhere while you are on a move or at work, Fastfit21 will always be on your side.</h1>
          </div>

          <div class="col-lg-3 col-md-2">
            <div class="feature-image-phone wow fadeInUp" data-wow-delay="1000ms">
              <img class="feature-image-phone-image img-fluid" src="../../assets/img/FastFit21.png"/>
              <picture>
                <img class="img-fluid" src="../../assets/img/mobile-svg.webp"/>
              </picture>
              
            </div>
          </div>
          
<!--           
          <div class="feature-image-phone">
            <img class="feature-image-laptop-image img-fluid" src="../../assets/img/FastFit21.png"/>
            <picture>
              <img class="img-fluid" src="../../assets/img/laptop canva.png"/>
            </picture>  
          </div> -->
          <!-- <img class="img-fluid" src="../../assets/img/fitplan_apple.png"/>
          <img class="img-fluid" src="../../assets/img/laptop canva.png"/> -->
        </div>
      </div>
    </section>

    <section>
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12 testimonial-section" style="margin: 0;">
          <div class="col-lg-4 col-md-12 col-sm-12 bg-grey testimonial-1 figure ">
            <h2 class="wow fadeIn" style="font-family: futura-pt;padding: 3rem;" data-wow-delay='300ms'>Its all about your style</h2>
            <h1 class="wow fadeIn" data-wow-delay="350ms">Challenge your limits</h1>
            <p class="wow fadeIn testimonial-item-3"  data-wow-delay="400ms">Once a wise man said 'We all can be heroes in our own lives if only we have the courage to try'. Take that first step towards a healthy life and witness your potential unleash to new levels.</p>
            <!-- <button class="btn btn-primary testimonial-item-4">
              See full story
            </button> -->
          </div>

          

          <div class="col-lg-6 col-md-12 col-sm-12 bg-grey testimonial-1 hover-effect">
            <div class="card page-carousel" style="width:auto" data-wow-delay="1000ms">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="../../assets/img/runningpost4.jpg"/>
                    <div class="carousel-caption d-none d-md-block">
                      
                      <p>
                        Cardio Workouts has really helped me reach my bodyweight goals, so glad to have found this app, looking forward to more courses.
                      </p>
                     
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/img/testimonial-two.jpg"/>
                    <div class="carousel-caption d-none d-md-block">
                     
                    <p>
                      Yoga for me is to escape the mortal world and enter into a state of complete bliss, I am thankful to all the trainers that have helped me attain this sort of mental state.
                    </p>
                    
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/img/testimonial-three.jpg"/>
                    <div class="carousel-caption d-none d-md-block">
                      
                    <p>
                      I was struggling to create balance into my calisthenics workout but with FastFit21 I learned controlled progessions to my calisthenics exercise. Thank you.
                    </p>
                    
                    </div>
                  </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            </div>

        </div>
      </div>
    </section>

  
    <section>
      <footer>
        <div class="row" style="background-color: #111213;">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-3 footer-company">
              <h2 style="font-family: Barlow Condensed , Sans Serif; font-size: 21px; margin-bottom: 20px; font-weight: 700;color: #fff;">COMPANY</h2>
              <ul style="padding: 0;">
                <li>About</li>
                <li>Blog</li>
                <li>Contact</li>
                <li>Process</li>
              </ul>
            </div>
            <div class="col-lg-3 footer-downloads">
              <h2 style="font-family: Barlow Condensed , Sans Serif; font-size: 21px; margin-bottom: 20px; font-weight: 700;color: #fff">FOLLOW US</h2>
              <ul style="display: flex; flex-direction: row;padding: 0;">
                <li class="footer-list-item"><a style="color: white;" href="https://www.twitter.com/@aman_sutariya"><i class="fa fa-twitter-square"></i></a></li>
    <li class="footer-list-item"><a style="color: white;" href="https://www.facebook.com/fastfit21.fitness/"><i class="fa fa-facebook-official"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-instagram"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-3 footer-resources">
              <h2 style="font-family: Barlow Condensed , Sans Serif; font-size: 21px; margin-bottom: 20px; font-weight: 700;color: #fff">RESOURCES</h2>
              <ul style="padding:0">
                <a><li>Trainers</li></a>
                <a><li>Workouts</li></a>
                <a><li>Yoga</li></a>
                <a><li>Mealplan</li></a>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </section>

    

