
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip"  data-placement="bottom" target="_blank">
          <img class="logo animated rubberBand infinite slower" src="../../../assets/img/FastFit21.png"/>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="/" target="_blank">
              Home
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="http://www.bestfitnessplans.com/" target="_blank">
              Join BestFitnessPlans
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" rel="tooltip" data-placement="bottom" href="#" target="_blank">
              Contact
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
<div class="main">
    <div class="gradient">
        <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0"> 
            <!-- <source src="http://coming-sssoon.paperplane.io/video/time.webm" type="video/webm">  -->
            <source src="../../assets/videos/fitoinline.mp4" type="video/mp4"> 
            Video not supported 
        </video>
<!--    Change the image source '/images/video_bg.jpg')" with your favourite image.     -->
    </div>
        


<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            FastFit21
        </h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
        
        <div class="content">
            <h4 class="motto">One destination for all things fit.</h4>
            <div class="subscribe">
                <h5 class="info-text">
                    Learn everything exercise, yoga, calisthenics, zumba from the best professional trainers . 
                </h5>
            </div>
        </div>
        
    </div>
    
    <div class="last">
            
    </div>
    </div>
<!-- 
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="intro-fitonline">
                <h1>Fitness .Transformed.</h1>
                <a class="btn btn-primary">Download on app store</a>
                <a class="btn btn-primary">Download on google store</a>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="vision-fitonline">
                <p>Find your fitness plan</p>
                <p>Get step-by-step induction</p>
                <p>Stay motivated</p>
            </div>
        </div>
    </div> -->

    

    