<app-fit-sidebar></app-fit-sidebar>








<section class="padding" style="height: 100%; width: 100%; background-color: whitesmoke;">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="title text-center pb-5">
                <h2 class="font-weight-600 m-0">Training Schedule</h2>
                <span class="hr-line mt-4 mb-4"></span>
                <p class="mb-4">Manage your workouts and training with accurate training programs throughout the week</p>

                <!-- filter links -->
                <div class="filtering col-sm-12 text-center pt-2">
                    <span data-filter="*" class="active ">MONDAY</span>
                    <span data-filter=".tuesday">TUESDAY</span>
                    <span data-filter=".wednesday">WEDNESDAY</span>
                    <span data-filter=".thursday">THURSDAY</span>
                    <span data-filter=".friday">FRIDAY</span>
                    <span data-filter=".saturday">SATURDAY</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="col-lg-12 center-column">
        <!-- gallery -->
        <div class="gallery text-center">

            <!-- gallery item -->
        
            <div class="col-md-3 items wednesday friday saturday mb-4">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../../assets/img/sechdual-1.png" alt="img">
                    </div>

                        <span class="sechdual-timing">06AM-08AM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Weight loss</h3>
                        <h5 class="trainer-name mt-2">david grover</h5>
                    </div>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-3 items wednesday saturday mb-4">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../../assets/img/sechdual-1.png" alt="img">
                    </div>

                    <span class="sechdual-timing">08AM-10AM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Cardio</h3>
                        <h5 class="trainer-name mt-2">dastish don</h5>
                    </div>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-3 items wednesday friday mb-4">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../../assets/img/sechdual-1.png" alt="img">
                    </div>

                    <span class="sechdual-timing">10AM-12PM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Yoga</h3>
                        <h5 class="trainer-name mt-2">romal grover</h5>
                    </div>
            </div>
            </div>
            <!-- gallery item -->
            <div class="col-md-3 items tuesday thursday mb-4">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../../assets/img/sechdual-1.png" alt="img">
                    </div>

                    <span class="sechdual-timing">12PM-02PM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Fitness</h3>
                        <h5 class="trainer-name mt-2">Lissa & Tony</h5>
                    </div>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-3 items thursday saturday mb-md-0 mb-4">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../../assets/img/sechdual-1.png" alt="img">
                    </div>

                    <span class="sechdual-timing">02PM-04PM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Boxing</h3>
                        <h5 class="trainer-name mt-2">Jeams Albert</h5>
                    </div>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-3 items tuesday saturday mb-md-0 mb-4">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../../assets/img/sechdual-1.png" alt="img">
                    </div>

                    <span class="sechdual-timing">04PM-06PM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Karate</h3>
                        <h5 class="trainer-name mt-2">Alex Khokar</h5>
                    </div>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-3 items tuesday friday mb-md-0 mb-4">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../../assets/img/sechdual-1.png" alt="img">
                    </div>

                    <span class="sechdual-timing">06PM-07PM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Aerobics & Skipping</h3>
                        <h5 class="trainer-name mt-2">Tina Wallkin</h5>
                    </div>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-3 items tuesday">
                <div class="item-img">
                    <div class="sechdual-img mb-2">
                        <img src="../../assets/img/sechdual-1.png" alt="img">
                    </div>

                    <span class="sechdual-timing">07PM-10PM</span>
                    <div class="sechdual-category mt-3">
                        <h3>Body Building</h3>
                        <h5 class="trainer-name mt-2">Arnold Joseph</h5>
                    </div>
                </div>
            </div>




        </div>

        <div class="clear-fix"></div>

</div>
    </div>

</div>
</section>



