.main {
    height: 100%; width: 100%; background-color: whitesmoke;
}

.container {
    padding-top:10%;padding-bottom:30%;background-color:white;height: 100%;
}

.card {
    width: 300px;
    display: flex;
    min-height: 218px;
    flex-direction: column;
    transition: all 0.2s ease;
}
  
  
    .card-header {
      padding: 10px;
      height: auto;
      margin: 0;
    }
  
      h3 {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      h4 {
        margin: 0;
        font-weight: 300;
        font-size: 0.9em;
      }
    
  
    .card-body {
     
      padding: 10px;
      flex-grow: 10;
    }
  
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    
  
    .card-footer {
      
      padding: 10px;
      height: auto;
      margin: 0;
      border-top: 2px dashed black;
    }
  
      p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    
  
  .card:hover {
    background-color: lighten(grey, 30);
  }

  .link-calorie {
    
        margin: 0px 10px; 
        font-size: 20px;
        color: #0d1619; 
        cursor: pointer;
        overflow: hidden;
    
  }

  .link-calorie:hover {
      color: cadetblue;
  }
  
  @media (max-width:768px) {
      .container {
        padding-top: 35%;
      }
  }
  