<head>
    <title>Steroids - Are they worth it?</title>
    <meta name="description" content="Steroids - Use, side-effects, precautions, methods.">

    
    <meta property="og:type" content="blog">
    <meta property="og:title" content="Steroids - Are they worth it?">
    <meta property="og:description" content="Steroids - Use, side-effects, precautions, methods.">
    <meta property="og:url" content="https://www.fastfit21.com">
    <meta property="og:image" content="https://images.unsplash.com/photo-1562243061-204550d8a2c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Steroids - Are they worth it?">
    <meta name="twitter:description" content="Steroids - Use, side-effects, precautions, methods.">
    <meta name="twitter:url" content="https://www.fastfit21.com">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1562243061-204550d8a2c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
</head>

<nav id="mynav" class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip"  data-placement="bottom" target="_blank">
          <img class="logo animated rubberBand infinite slower" src="../../../assets/img/FastFit21.png"/>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/" target="_blank">
              Home
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="http://www.bestfitnessplans.com/">
              Join BestFitnessPlans
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" data-placement="bottom" href="/recipe_search" >
              Calorie Tracker
            </a>
          </li> 
        </ul>
      </div>
   
   
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="page-header section-dark" style="background-image: url('./assets/img/college-student.webp');background-position: middle; ">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">College Fit </h1>
          <div class="fog-low">
            <img src="./assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="./assets/img/fog-low.png" alt="">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center"></h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('./assets/img/clouds.png'); "></div>
    <h6 class="category category-absolute">
     
    </h6>
  </div>

  <div class="main">
      <div class="container">
        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-12 ">
                <h1 class="header-styling">How to stay fit being a college student?
                </h1> 
               
                </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <p>
                          
                              'Lack of time is a real health killer'- this phrase makes the most sense when you are out there struggling to maintain a balance between your work, studies and personal life. The hectic schedule that you been pushing through the whole day is just not letting you put on your shoes and track pants and head off to the gym.
                            <br/>
                            <br/>

                            We all know how busy a student's life can be especially if you are in those years of college where you have to focus on your studies, build a career, complete your projects, enroll for an internship and maintain a social life. The efforts you need to put in every day just don't seem to be decreasing but you can see your belly fat increasing, pun intended.
                            <br/>
                            <br/>

                            So let's talk about ways of how you can create time for fitness around such a busy schedule. As we know everything comes at a cost, so you need to be sacrificing some things to make way for things that are gonna help you in the long run. 
                            <br/>

                        </p>
                </div>
                <app-sidebar class="col-lg-2"></app-sidebar>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12">
            
                        <ul>

                            <ul>
                                <li><h4>Introduce exercise into your daily habits. </h4></li>
                                <br/>
                                <p>When you cant spare even a minute from your busy day, it's mostly beneficial to introduce exercise into your way of living or how you function daily.
                                    <br/>
                                    <br/>
                                For example, taking the stairs instead of the elevator, riding a bicycle to college instead of bikes or cars, maybe doing a small set of pushups and situps whenever you are slacking off not doing any work, you see the introduction of these habits can help you burn those calories that you would be burning otherwise in the gym.
                                </p>
                                <br/>
                                <img  style="min-width: 100%; height: 400px;" src="../../../assets/img/stairs.webp"/>
                                </ul>


                        

                        
                            <ul>
                                <li><h4>Cut off exercise from your to-do list first thing in the morning.</h4></li>
                                <br/>
                                <p>
                                Try waking up a little earlier and make time for a refreshing workout or a yoga session. Working out in the morning has a lot of benefits apart from saving time, it helps you boost your metabolism for the day and clear your mind, your hormonal levels are on a rise in the morning so you just might put that morning wood to duty.
                                </p>
                                <br/>
                                <img style="min-width: 100%; height: 400px;" src="../../../assets/img/to-do.webp"/>
                            </ul>

                            <ul>
                                <li><h4> Filter out the things that are gonna provide value in the long run.</h4></li>
                                    <br/>
                                <p>Being a college student, it is obvious that you would be attending many parties and events only for the sake of gaining some social exposure, while such type of social exposure is critical for your overall growth but don't get overboard with the feeling, know what is good for you in the long run.
                                    <br/>
                                    <br/>
                                    I know it must be tempting to attend such parties and events because all the cool kids are doing it but what's even cooler is to take of yourself, you see because self-care attracts self-love and self-love attracts high confidence and esteem that is gonna help you strengthen your social game all-together.

                                </p>
                                <br/>
                                <img style="min-width: 100%; height: 400px;" src="../../../assets/img/party.webp"/>
                            </ul>
                            

                            <ul>
                                <li><h4> Come up with a schedule that helps you nurture discipline.</h4></li>
                                    <br/>
                                <p>
                                    'Discipline is the bridge between goals and accomplishment, period'.
                                    <br/>
                                    <br/>
                                    When you have a plan prepared for what you want in life, the path to achieving the goal becomes more clear. Come up with a proper plan of action during the day, when you wake up first thing in the morning think of ways how you would be handling the day instead of grabbing your phone and swiping through Instagram posts, have room for modifications and improvision so you can accommodate sudden changes in your plan and if you have plan laid out stick to it and work towards it with all your strength, I am pretty confident that you are gonna get it.


                                </p>
                                <br/>
                                <img style="min-width: 100%; height: 400px;" src="../../../assets/img/plan.webp"/>
                            </ul>

                            <ul>
                                <li><h4> Don't be too hard on yourself if you fail.</h4></li>
                                    <br/>
                                <p>
                                    As a human, we are imperfect beings, we fail, we fall and then we stand back again, what matters most is trying. There are gonna be days when you will not be able to follow the plan, don't treat yourself as a failure or don't procrastinate.
                                    <br/>
                                    <br/>
                                     According to a scientific study, people that are intelligent and exercise self-discipline are often too hard on themselves if they fail in achieving certain things, just slack off for the day and prepare extra for the next day because you always know with a new day comes new strength and new thoughts.


                                </p>
                                <br/>
                                <img style="min-width: 100%; height: 400px;" src="../../../assets/img/failure.jpg"/>
                            </ul>

                            <ul>
                                <li><h4> Don't give in to peer pressure.</h4></li>
                                    <br/>
                                <p>
                                    Being a college student I can vouch for it that you are gonna have friends that drink and smoke, having such friends often leads to an influence called peer pressure. You will need to train yourself if such a situation shows up and say no. Having such friends doesn't necessarily mean it's bad, you would just have to define clear boundaries that you are not into that life.


                                </p>
                                <br/>
                                <img style="min-width: 100%; height: 400px;" src="../../../assets/img/peer pressure.jpg"/>
                            </ul>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <p>
                            So those were some of the steps I undertook as my college life progressed, hope these might help you and for the ending note treat fitness as a lifestyle and not a goal, fall in love with the process and that's it you would not have to put any extra effort in pursuing it.
                            <br/>
                            <br/>

                            Stay fit and stay safe.

                        </p>
                    </div>
                </div>

                <hr/>

                <app-footer></app-footer>
           
      </div>
  </div>
