<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip"  data-placement="bottom" target="_blank">
          <img class="logo animated rubberBand infinite slower" src="../../../assets/img/FastFit21.png"/>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="site-nav" id="navigation">

        <!-- Main menu -->
        <ul class="site-main-menu alt-font" id="nav">
            <li><!-- href value = data-id without # of .pt-page. Data-goto is the number of section -->
                <a class="pt-trigger" data-animation="58" data-goto="1" href="trainers">
                    <i class="lni lni-home"></i>
                    <span>Trainers</span>
                </a>
            </li>
            <li>
                <a class="pt-trigger" data-animation="59" data-goto="2" href="workouts">
                    <i class="lni lni-user"></i>
                    <span>Workouts and Plans</span>
                </a>
            </li>
            <li>
                <a class="pt-trigger" data-animation="61" data-goto="3" href="#services">
                    <i class="lni lni-first-aid"></i>
                    <span>Services</span></a>
            </li>
            <li>
                <a class="pt-trigger" data-animation="59" data-goto="4" href="#portfolio">
                    <i class="lni lni-gallery"></i>
                    <span>Portfolio</span>
                </a>
            </li>
            <li>
                <a class="pt-trigger" data-animation="58" data-goto="5" href="#clients">
                    <i class="lni lni-emoji-smile"></i>
                    <span>Client</span>
                </a>
            </li>
            <li>
                <a class="pt-trigger" data-animation="61" data-goto="6" href="#contact">
                    <i class="lni lni-licencse"></i>
                    <span>Contact</span>
                </a>
            </li>
        </ul>
        <!-- /Main menu -->
    
    </div>
    
    </div>
  </nav>



<!-- Navigation & Social buttons -->
