<head>
  <title>Bodybuilding: A Beginners Guide</title>
  <meta name="description" content="Learn all the tips that you might be needing if you are just starting out on your fitness journey.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Bodybuilding: A Beginners Guide">
  <meta name="twitter:description" content="New to fitness?? Learn all the tips if you are just starting out on your fitness journey.">
  <meta name="twitter:url" content="https://www.fastfit21.com">
  <meta name="twitter:image" content="https://images.unsplash.com/photo-1544133782-b62779394064?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
</head>

<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip"  data-placement="bottom" target="_blank">
          <img class="logo animated rubberBand infinite slower" src="../../../assets/img/FastFit21.png"/>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="/" target="_blank">
              Home
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" rel="tooltip"  data-placement="bottom" href="http://www.bestfitnessplans.com/" target="_blank">
              Join BestFitnessPlans
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" rel="tooltip" data-placement="bottom" href="#" target="_blank">
              Contact
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="page-header section-dark" style="background-image: url('./assets/img/body.jpg.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title" style="font-size: 4.5em;">Bodybuilding <br/> A Beginners Guide.</h1>
          <div class="fog-low">
            <img src="./assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="./assets/img/fog-low.png" alt="">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center"></h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('./assets/img/clouds.png'); "></div>
    <h6 class="category category-absolute">
     
    </h6>
  </div>

  <div class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 ">
                <h1>Bodybuilding: A Beginners Guide</h1>
                <hr/>
            </div>
        </div>    
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <p>
                    Most people when they hear about bodybuilding they think about bulging biceps, rockhard pecs and washboard abs.
                    Bodybuilding may seem intimidating for some people and most teenage boys who have just hit puberty and are thinking about hitting the gym to woe their crush by showing off those bulging biceps. I too started with the same intention when one of my teachers humiliated me in front of my crush calling me a twig and would fly off by a gust of wind. I was so angry and embarrassed after the incident that I went straight back home, threw my bag on the floor and started doing pushups but couldn't even do one but who knows that.<br/><br/>

                    Anyways but after that incident, I decided to focus on my physique and took on bodybuilding. At first, I did not have the resources nor the money to go to the gym so I started what all teenage kids did which is the home workout. <br/><br/>

                    Its gonna be difficult at the start and you may feel like giving up but remember everything worth having takes time. Here are a few of my suggestions to the teenagers who are just getting into fitness.
                </p>
            </div>
            <app-sidebar class="col-lg-2"></app-sidebar>
            
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <ul>
                    <li><h3>Layout your goals</h3>
                        <br/>
                        <p>
                            You need to bifurcate what you want to do. Bodybuilding and fitness come in many categories and you need to clearly differentiate between them to reach your end goal. Whether you want to be a calisthenic expert or a professional bodybuilder or you just want to be fit. You need to build a training regime that answers the most to your end goal and then start working.
                        </p>
                    </li>

                    <li><h3>Create a habit</h3>
                    <br/>
                    <p>
                        Once you get into fitness there's no coming back. Treat fitness as a lifestyle not a goal and you would have conquered the first step into getting a great physique. Embrace the 21-day rule to create a habit that will eventually turn into a lifestyle and when it does you would know that there's more for you to conquer and keep moving.
                    </p>
                    </li>

                    <li><h3>Track your diet</h3>
                    <br/>
                    <p>
                        When it comes to fitness the most important thing is the one that goes mostly unnoticed and that is diet. Diet is the key to a healthy body, exercise follows later. Without a healthy diet, you cannot aspire to a great physique.<br/>
                        
                        Keep track of what you eat during the day and by eating I do not mean recklessly eat anything that's in your fridge. Portion your meals and make sure that you hit all the macros that are protein, carbs, and fats alongside soluble fibers and vegetables. 

                    </p> 
                    </li>

                    <li><h3>Manage stress and sleep</h3>
                        <br/>
                        <p>
                            Teenagers nowadays have to cope up with a huge amount of stress from academics, expectations, dreams and so on. The life of a teenager is not easy especially during the college years. So find ways that work for you to manage your stress levels because stress releases a hormone called cortisol that is rumored to have been linked with muscle loss as well as focus on your sleep schedule because your muscles' growth is directly proportional to the amount of time you rest. Invest in a good mattress so that you can sleep peacefully through the night.
                        </p>
                    </li>

                    <li><h3>Learn online and see youtube videos</h3>
                    <br/>
                    <p>
                        You can hire a good personal trainer if your financial condition permits you but most of the teenagers are resistant to the thought of hiring a trainer because they charge way more than they teach. So learn online from youtube videos, there are many youtube channels such as AthleanX,
                        TheFlyingBeast etc that provides good techniques for exercises and diet backed up with valid scientific facts.

                    </p>
                    </li>

                    <li><h3>Stick it out and proceed at your own pace</h3>
                        <br/>
                        <p>
                            Its gonna be hard but I guarantee nothing feels better than the feeling of achievement after you have pulled it off. There are gonna be times when you feel tired and give up but you always need to get back up.
                            Set milestones, achieve them and when you get them, give yourself a pat on the back and start working again
                            and keep a steady pace, if you take more time than other people to get there do not get sad, it's gonna happen for you too eventually if you stick it out.

                        </p>

                    </li>
                </ul>
            </div>
        </div>
      </div>
      <hr/>
    <app-footer></app-footer>
  </div>
</div>
