<div class="intro-column">
                <div class="row">
                    <div class="col intro-section">
                        <div class="intro-image"></div>
                        <br/>
                        <div class="text">
                            <p class="intro-text">Hey there fitness freaks ,glad to see you here and thank you for visting my blog, I hope that I might help you in figuring out what you want and subscribe to my newsletter to get the most of out of this blog!!</p>
                            <br/>

                            <input class="intro-search" placeholder="search" />

                            <br/>

                            <br/>

                            <a routerLink="/newsletter" class="btn btn-primary top-newsletter-button">Subscribe to my newsletter</a>
                            <div class="related-posts">
                                <h1 class="related-post-title">Related Posts</h1>
                                <ul class="related-post-list">
                                    <br/>
                                    <li><a class="related-post-link">Bodybuilding: A Beginners Guide!</a></li>
                                    <br/>
                                    <br/>
                                    <li><a class="related-post-link">Check this out!</a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>