<div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <div class="newsletter-div">
            <img class="img-fluid" src="../../../assets/img/newsletter.png"/>
        <a class="btn btn-primary newsletter-button" routerLink="/newsletter">Subscribe to my weekly newsletter</a>
        </div>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <div class="bestfitnessplans">

            <h1>Unleash your potential</h1>
            <br/>
            <br/>
            <p>
            Stop watching thousands of youtube videos and reading answers on online forums,Join BestFitnessPlans & get access to worlds best fitness plans made by experts , with access to more then 1000+ diet & work out plans we provide powerful features to make sure you get your customized plans & with our mobile app notifications ,you can be assured that it would be executed as planned .
        </p>
        <a class="btn btn-primary newsletter-button" href="http://www.bestfitnessplans.com/">Join BestFitnessPlans</a>
 
        </div>
    </div>
</div>
<hr/>

<div class="row animated rubberBand infinite slower">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <a class="btn btn-primary newsletter1-button" routerLink="/newsletter2">Get the ultimate diet cheatsheet</a>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-sm-11 ">
      
          <div class="title text-center">
              <h4 class="font-weight-600" style="font-family: futura-pt;">Related Topics</h4>
              <span class="hr-line"></span>
              <!-- <p class="mb-4">Related Topics </p> -->

              <!-- filter links -->
              <!-- <div class="filtering col-sm-12 text-center pt-2">
                  <span data-filter="*" class="active ">ALL</span>
                  <span data-filter=".male">MALE</span>
                  <span data-filter=".female">FEMALE</span>

              </div> -->
          </div>
      
      
    </div>

    <div class="col-11">

        <div class="lastest_featured_products owl-carousel owl-theme">

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70">
                    <div class="image-holder">
                    <a href="/bodybuilding_beginners_guide"  data-fancybox="lastest_product"  data-title="Shirt Name">
                        <img src="../../../assets/img/body.webp" class="card-img-top" alt="Lastest Arrivals 1">
                    </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">Bodybuilding: A Beginners Guide</h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70"> 
                    <div class="image-holder">
                        <a href="/best_protein_supplements"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                    <img src="../../../assets/img/abs1.webp" class="card-img-top" alt="Lastest Arrivals 1">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">Best Protein Supplements</h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text text-center"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70">
                    <div class="image-holder">
                    <a href="/beginners_exercise"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                    <img src="../../../assets/img/arms1.webp" class="card-img-top" alt="Lastest Arrivals 1">
                    </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">Beginners Exercise - A Guide</h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text text-center"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70">
                    <div class="image-holder">
                    <a href="immunity_infections"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                    <img src="../../../assets/img/covid191.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                    </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">How to boost immunity to tackle infections?</h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text text-center"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70">
                    <div class="image-holder">
                    <a href="balanced_diet"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                    <img src="../../../assets/img/perfect_diet.webp" class="card-img-top" alt="Lastest Arrivals 1">
                    </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">A Balanced Diet - aka a perfect meal.</h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text text-center"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70">
                    <div class="image-holder">
                    <a href="/broscience_busted"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                    <img src="../../../assets/img/roid-rage.webp" class="card-img-top" alt="Lastest Arrivals 1">
                    </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">Broscience Busted! - Debunking the myths</h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text text-center"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70">
                    <div class="image-holder">
                    <a href="/steroids"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                    <img src="../../../assets/img/injection.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                    </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">Steroids - Are they worth it?<br/></h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text text-center"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastest_arrival_items item">
                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                <div class="card h-70">
                    <div class="image-holder">
                        <a href="/fit_student"  data-fancybox="lastest_product"  data-title="Lastest Arrivals 1">
                        <img src="../../../assets/img/college-student.webp" class="card-img-top" alt="Lastest Arrivals 1">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="card-title">How to stay fit being a college student?</h5>
                            </div>
                            <div class="col-12 text-center">
                                <!-- <p class="card-text text-center"> $999.00</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

    

        </div>
        
   


       
<hr/>

<div class="footer">
<footer class="footer-section">
<ul class="footer-list">
    <li class="footer-list-item"><a style="color: white;" href="https://www.twitter.com/@aman_sutariya"><i class="fa fa-twitter-square"></i></a></li>
    <li class="footer-list-item"><a style="color: white;" href="https://www.facebook.com/fastfit21.fitness/"><i class="fa fa-facebook-official"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-instagram"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-linkedin-square"></i></a></li>
</ul>   
<ul class="footer-list-2">
    <li class="footer-list-item-2"><a style="color: white;" routerLink="/about">ABOUT</a></li>
    <!-- <li class="footer-list-item-2"><a>PRESS</a></li> -->
    <li class="footer-list-item-2"><a>CONTACT</a></li>
    <li class="footer-list-item-2"><a style="color: white;" routerLink="/newsletter">SUBSCRIBE</a></li>
</ul>
<p class="copyright-trademark">© 2020 FASTFIT21 , LLC | LEGAL</p>
</footer>
</div>