<div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <div class="newsletter-div">
            <img class="img-fluid" src="../../../assets/img/newsletter.png"/>
        <a class="btn btn-primary newsletter-button animated infinite shake slower" href="newsletter">Subscribe to my weekly newsletter</a>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <div class="footer-intro">
            <img class="img-fluid footer-image" src="../../../assets/img/IMG_3740.JPG" />
            <h4>Aman Sutariya</h4>
            <p class="footer-para">Aman is the creator of Fastfit21, a fitness and wellness blog that aims to help it's readers to pursue their fitness goals with a focus on healthy lifestyle.Engineering Student.+India-based frontend designer.</p>
        </div>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-lg-11 col-md-1- col-sm-12 newer-older-links">
            <a class="no-1">NEWER POSTS</a>
            <a class="no-2">OLDER POSTS</a>
    </div>

    <div class="col-lg-11 col-md-1- col-sm-12 newer-older-links">
        <a class="no-3">Bodybuilding:A Beginners Guide! &rarr;</a>
        <a class="no-4"> &larr;Under Construction</a>
</div>
</div>

<div class="footer">
<footer class="footer-section">
<ul class="footer-list">
    <li class="footer-list-item"><a><i class="fa fa-twitter-square"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-facebook-official"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-instagram"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-linkedin-square"></i></a></li>
</ul>
<ul class="footer-list-2">
    <li class="footer-list-item-2"><a>ABOUT</a></li>
    <li class="footer-list-item-2"><a>PRESS</a></li>
    <li class="footer-list-item-2"><a>CONTACT</a></li>
    <li class="footer-list-item-2"><a>SUBSCRIBE</a></li>
</ul>
<p class="copyright-trademark">© 2020 FASTFIT21 , LLC | LEGAL</p>
</footer>
</div>