<div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <div class="newsletter-div">
            <img class="img-fluid" src="../../../assets/img/newsletter.png"/>
        <a class="btn btn-primary newsletter-button" routerLink="/newsletter">Subscribe to my weekly newsletter</a>
        </div>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <div class="bestfitnessplans">

            <h1>Unleash your potential</h1>
            <br/>
            <br/>
            <p>
            Stop watching thousands of youtube videos and reading answers on online forums,Join BestFitnessPlans & get access to worlds best fitness plans made by experts , with access to more then 1000+ diet & work out plans we provide powerful features to make sure you get your customized plans & with our mobile app notifications ,you can be assured that it would be executed as planned .
        </p>
        <a class="btn btn-primary newsletter-button" href="http://www.bestfitnessplans.com/">Join BestFitnessPlans</a>
 
        </div>
    </div>
</div>
<hr/>

<div class="row animated rubberBand infinite slower">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <a class="btn btn-primary newsletter1-button" routerLink="/newsletter2">Get the ultimate diet cheatsheet</a>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
        <div class="footer-intro">
            <img class="img-fluid footer-image" src="../../../assets/img/IMG_3740.JPG" />
            <h4>Aman Sutariya</h4>
            <p class="footer-para">Aman is the creator of Fastfit21, a fitness and wellness blog that aims to help it's readers to pursue their fitness goals with a focus on healthy lifestyle.</p>
        </div>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-lg-11 col-md-1- col-sm-12 newer-older-links">
            <a class="no-1">NEWER POSTS</a>
            <a class="no-2">OLDER POSTS</a>
    </div>

    <div class="col-lg-11 col-md-1- col-sm-12 newer-older-links">
        <a class="no-3">Bodybuilding:A Beginners Guide! &rarr;</a>
        <a class="no-4"> &larr;Best protein supplements</a>
</div>
</div>

<div class="footer">
<footer class="footer-section">
<ul class="footer-list">
    <li class="footer-list-item"><a style="color: white;" href="https://www.twitter.com/@aman_sutariya"><i class="fa fa-twitter-square"></i></a></li>
    <li class="footer-list-item"><a style="color: white;" href="https://www.facebook.com/fastfit21.fitness/"><i class="fa fa-facebook-official"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-instagram"></i></a></li>
    <li class="footer-list-item"><a><i class="fa fa-linkedin-square"></i></a></li>
</ul>   
<ul class="footer-list-2">
    <li class="footer-list-item-2"><a style="color: white;" routerLink="/about">ABOUT</a></li>
    <!-- <li class="footer-list-item-2"><a>PRESS</a></li> -->
    <li class="footer-list-item-2"><a>CONTACT</a></li>
    <li class="footer-list-item-2"><a style="color: white;" routerLink="/newsletter">SUBSCRIBE</a></li>
</ul>
<p class="copyright-trademark">© 2020 FASTFIT21 , LLC | LEGAL</p>
</footer>
</div>