<head>
    <title>A perfect diet aka - A balanced meal.</title>
    <meta name="description" content="Learn what all constitutes a balanced meal">

    
    <meta property="og:type" content="blog">
    <meta property="og:title" content="A perfect diet aka - A balanced meal">
    <meta property="og:description" content="Learn what all constitutes a balanced meal">
    <meta property="og:url" content="https://www.fastfit21.com">
    <meta property="og:image" content="https://images.unsplash.com/photo-1533383915223-f99474794bd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="A perfect diet aka - A balanced meal">
    <meta name="twitter:description" content="Learn what all constitutes a balanced meal">
    <meta name="twitter:url" content="https://www.fastfit21.com">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1533383915223-f99474794bd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
</head>
<app-navbar></app-navbar>

  <div class="page-header section-dark" style="background-image: url('./assets/img/perfect_diet.webp') ">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">A <br/>Balanced<br/> Diet</h1>
          <div class="fog-low">
            <img data-lazy="./assets/img/fog-low-opti.webp" alt="website-background">
          </div>
          <div class="fog-low right">
            <img data-lazy="./assets/img/fog-low-opti.webp" alt="website-background">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center"></h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('./assets/img/clouds-opti.webp'); "></div>
    <h6 class="category category-absolute">
     
    </h6>
  </div>

  <div class="main">
      <div class="container">
        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-12 ">

                <h1 class="header-styling">A perfect meal aka - a balanced diet</h1> 
                
            </div>
        </div>

      <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <p>

                Let's talk about the most important thing that gets the most ignored when talking about fitness, a balanced diet and the word that should be most emphasized in the given phrase is the word 'balanced'. You can eat everything healthy with no junk food whatsoever but as long as you don't take everything in appropriate proportions the curve representing a perfect diet will always go downhill.
                <br/>
                <br/>

                So what is a balanced diet?  A balanced diet refers to a healthy eating regime that helps to maintain your overall fitness and health. A balanced diet contains every essential nutrient required for the proper functioning of the body in the right proportions.
                <br/>
                <br/>

                But what are the essential nutrients that our body requires? There are 5 components in a balanced diet - protein, fats, carbohydrates, vitamins and minerals and of course water. Let's talk about them one by one and also trace the minimum amount of each of these required to help our body flourish.
                <br/>
                <br/>

                Before going further let's establish the difference between macro and micronutrients. Macronutrients by definition are those that the body uses in large amounts such as protein,  fats, and carbohydrates whereas micro refers to those nutrients that are essential but are needed in small amounts such as vitamins and minerals.


            </p>
        </div>

        <app-sidebar class="col-lg-2"></app-sidebar>

     </div>

     <div class="row">
         <div class="col-lg-10 col-md-10 col-sm-12">
             <ul>
                 <li><h2></h2></li>
                 <br/>
                 <ul>
                     <li><h4>Protein</h4></li>
                     <br/>
                     <p>
                        Protein is known as the king of all nutrients rightfully due to the vast majority of important tasks it fulfills for the human body. Protein is made up of amino acids that serve as a fuel source for the body. There are nine types of amino acids that are breakdown from the protein complex to aid in healthy living. Besides providing energy protein is the basic building block of muscles in the body, so if you are planning on putting on some muscle mass than protein will help you in the process. 
                        <br/>
                        <br/>

                        But how much protein do you need daily? The DRI(Dietary reference intake) for protein is 0.8g per kg of body weight or 0.36g per pound. That adds up to:
                        56 grams per day for the average sedentary man.
                        46 grams per day for the average sedentary woman.
                        <br/>
                        <br/>

                        Protein can be primarily found in eggs, meat, dairy, lentils and beans. <a style="font-family: futura-pt;" routerLink='/best_protein_supplements'>Here is a list of best protein supplements available in the market, if you are looking for one.</a>
                     </p>

                     <div class="img-back">

                        <img class="img-back-1" data-lazy="../../../assets/img/eggs_webp.webp" alt="eggs"/>

                        <img class="img-back-2" data-lazy="../../../assets/img/lentils.webp" alt="lentils" />

                     </div>

                 </ul>

                 <ul>
                     <li><h4>Fats</h4></li>
                     <br/>
                     <p>
                        Fats are arguably considered evil in terms of daily consumption and the term can be really misleading by its name 'fats'. Fats are the most energy-dense nutrients in the nutrient stack and can serve quite beneficial if consumed right. There are 2 essential fatty acids omega-3 and omega-6 required by the body to sustain and function optimally.
                        <br/>
                        <br/>

                        Fats play a vital role in maintaining healthy skin and hair besides maintaining body temperature and healthy cell function. There are several types of fats like saturated, trans, polyunsaturated, monosaturated. Fats are grouped by the number of bonds in their carbon chains. Aside from trans fats, most fats have beneficial or neutral effects on health. However, a high omega-6 to omega-3 ratio may cause problems.
                        <br/>
                        <br/>
                        
                        So the appropriate amount of fats for your balanced diet will depend on your daily calorie intake. If you are on a low-fat diet than you might require fewer fats to hit your daily intake levels.
                        1,500 calories: About 50 grams of fat per day.
                        2,000 calories: About 67 grams of fat per day.
                        2,500 calories: About 83 grams of fat per day.
                        <br/>
                        <br/>
                        The best sources for fats include avacado, nuts, feta cheese, dark chocolate.
                     </p>

                     
                     <div class="img-back">

                        <img class="img-back-1" alt="avacado" data-lazy="../../../assets/img/avacado.jpg"/>

                        <img class="img-back-2" data-lazy="../../../assets/img/nuts.jpg" alt="nuts" />

                     </div>

                 </ul>

                 <ul>
                     <li><h4>Carbohydrates</h4></li>
                    <br/>
                    <p>
                        Carbohydrates, as the name suggests, are made up of carbon and hydrogen along with oxygen. Carbs are generally found in all natural and processed food with maximum content in cereals and refined grains. Carbs or monosaccharides are the major sources of fuel for the body. When we workout we use this energy to fuel us and the leftover is stored in the form of glycogen especially in the liver and muscle cells. 
                        <br/>
                        <br/>

                        Carbohydrate restricted diet can be as effective as a low-fat diet in achieving weight loss when the overall calorie intake is reduced. The DRI(Dietary reference intake) for carbs is approximately 40 to 60 percent of your total daily calories which adds up to 200 to 300 grams of carbs per day. 
                        <br/>
                        <br/>

                        Some of the best sources for carbohydrates are white bread, cereals, dairy, fruits, starchy vegetables.

                    </p>

                    
                    <div class="img-back">

                        <img class="img-back-1" alt="bread" data-lazy="../../../assets/img/bread.jpg"/>

                        <img class="img-back-2" alt="cereal" data-lazy="../../../assets/img/cereal.jpg"/>

                     </div>

                 </ul>

                 <ul>
                     <li><h4>Vitamins</h4></li>
                     <br/>
                     <p>
                        Now let's move on to the micronutrients and vitamins tops the list as they are the essentials nutrients required by the body for the proper functioning of its metabolism. There are thirteen vitamins ( Vitamin A, B1-B12, C, D, E) that are required by the body, they are either synthesized naturally by the body or obtained directly through the diet. Vitamins are fat-soluble(A, D, E, and K) or water-soluble(B1-B12, C). Vitamins should be taken in appropriate amounts as there are reports of cases due to both vitamin deficiency and excessive intake, yes vitamin poisoning is a real thing.
                        <br/>
                        <br/>
                        <a style="font-family: futura-pt;" href="https://www.health.harvard.edu/staying-healthy/listing_of_vitamins">Here is a list of recommended amounts of vitamins you should be taking by the Harvard Medical School.</a >
                        
                     </p>

                     
                    <div class="img-back">

                        <img class="img-back-1" alt="vitamins" data-lazy="../../../assets/img/vitamins.jpg"/>

                        <!-- <img class="img-back-2" src="../../../assets/img/cereal.jpg"/> -->

                     </div>

                 </ul>

                 <ul>
                     <li><h4>Minerals</h4></li>
                     <br/>
                     <p>
                        Five major minerals that are required by the human body are calcium, phosphorous, magnesium, potassium and sodium. There are other minerals that are also required in trace amounts by the body such as sulfur, iron, chlorine, cobalt, copper, zinc, manganese, molybdenum, iodine, and selenium.
                        <br/>
                        <br/>

                        Minerals are either naturally supplied to the body from the food(e.g calcium from dairy products) or can be provided by consuming supplements.
                        
                     </p>

                     
                    <div class="img-back">

                        <img class="img-back-1" alt="calcium" data-lazy="../../../assets/img/calcium.jpg"/>

                        <!-- <img class="img-back-2" src="../../../assets/img/cereal.jpg"/> -->

                     </div>

                 </ul>
             </ul>
         </div>
     </div>
     <hr/>

     <app-footer></app-footer>

    </div>
  </div>