@import url("../src/assets/css/paper-kit.css");
/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body , html {
    margin: 0;
    background-color: #bbe1fa;
}

p {
    font-family: futura-pt;
}

h1 {
    color: black;
    font-size: 40px;
}

p {
    font-size: 20px;
}

ul {
    list-style-type: disc;
}

h2 {
    margin: 0;
}

h3 {
    color: black;
    font-size: xx-large;
}

a:hover {
    cursor: pointer;
    font: teal;
}

h4 {
    font-size: 48px;
    color: 1b262c;
    font-family: playfair-display;
}
