
/* override the default margin for sibling elements  */

/* 

.header {
    background: #eee;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5vw;
    margin: 0;

    @media (min-width: calc(550px + 10vw)) {
        padding-left: calc((100vw - 550px - 0.5rem) / 2);
        padding-right: calc((100vw - 550px - 0.5rem) / 2);
    }
} */

.row-color {
    background-image: linear-gradient(#bdc3c7,#2c3e50);
    border-radius: 20px;
}   

.card-col-flex {
    display: flex;
    border-radius: 20px;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    display: flex;
    margin:1rem 1rem 0 0;
}

.nav-link {
    text-decoration: none;
    text-emphasis: none;
    color: black;
}



.col {
    display: flex;
    padding: 0;
    margin: 1rem 0 0 0;
}

.card {
    width: 18rem;
    margin: 2.5rem;
}



.logo {
    max-width: 100%;
    height: 70px;
    border-radius: 50%;
}

.footer {
    background-color:#0F4c75;
    border-radius: 20px;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    margin: 0;
}

.fa {
    font-size: xx-large;
}


.footer-list-item {
    flex-basis: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.footer-list-2 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    margin: 0;
}

.footer-list-item-2 {
    flex-basis: 12%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.card-6 {
    max-width: 100%; height: 450px;
}



.copyright-trademark {
    margin-top: 4%;
    margin-left: 37%;
    color: thistle;
}


.card-text {
    color: black;
}

@media only screen and (min-width: 370px) and (max-width: 390px){
    .card-col-flex {
        flex-direction: column;
    }

    .presentation-title {
        font-size: 4.5em;
    }

    
    .card-6 {
        max-width: 100%; height: 450px;
    }

    .card {
        margin: 2rem;
    }

    .footer-image {
        max-width: 100%;
        height: 300px;
    }
    
    .footer-list-item {
        padding: 0 2rem  0 0;
    }

    .footer-list-item-2{
        padding: 0 1rem 0 0;
    }

    .copyright-trademark{
        margin-left: 8%;
    }

    .card-text {
        color: black;
    }

}


@media only screen and (min-width:391px) and (max-width: 480px) {
    .card-col-flex {
        flex-direction: column;
        align-items: center;
    }

    .presentation-title {
        font-size: 4.5em;
    }

    
.card-6 {
    max-width: 100%; height: 450px;
}

    .card {
        margin: 3rem;
        width: 25rem;
    }

    .footer-image {
        max-width: 100%;
        height: 300px;
    }
    
    .footer-list-item {
        padding: 0 2rem  0 0;
    }

    .footer-list-item-2{
        padding: 0 1rem 0 0;
    }

    .copyright-trademark{
        margin-left: 15%;
    }

    .card-text {
        color: black;
    }

    
}

/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1023px){ 
    .card-col-flex {
        flex-direction: column;
        align-items: center;
    }


    
.card-6 {
    max-width: 100%; height: 450px;
}

    .card {
        width: 25rem;
    }

    .copyright-trademark {
        margin-left: 30%;
    }
}


/*   
        /* Media Query for Mobile Devices */ 
        /* @media (max-width: 480px) { 
            body { 
                background-color: red; 
            } 
        }  */
          
        /* Media Query for low resolution  Tablets, Ipads */ 
        /* @media (min-width: 481px) and (max-width: 767px) { 
            body { 
                background-color: yellow; 
            } 
        }  */
          
        /* Media Query for Tablets Ipads portrait mode */ 
        /* @media (min-width: 768px) and (max-width: 1024px){ 
            body { 
                background-color: blue; 
            } 
        } 
           */
        /* Media Query for Laptops and Desktops */ 
        /* @media (min-width: 1025px) and (max-width: 1280px){ 
            body { 
                background-color: green; 
            } 
        } 
           */
        /* Media Query for Large screens */ 
        /* @media (min-width: 1281px) { 
            body { 
                background-color: white; 
            } 
        } 
      */