   <head>
     <title>Fitness Blog</title>
   </head>

   
   <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand" href="https://demos.creative-tim.com/paper-kit/index.html" rel="tooltip" title="Coded by Creative Tim" data-placement="bottom" target="_blank">
              <img class="logo" src="../../../assets/img/FastFit21.png"/>
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
               <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="#" target="_blank">
                  Home
                </a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="#" target="_blank">
                  About us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="#" target="_blank">
                  Contact
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      
    
    <div class="page-header section-dark" id="bannerImage" [ngStyle]="changeImage()">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand">
              <h1 class="presentation-title">Are you Obssessed with fitness??</h1>
              <div class="fog-low">
                <img src="./assets/img/fog-low.png" alt="">
              </div>
              <div class="fog-low right">
                <img src="./assets/img/fog-low.png" alt="">
              </div>
            </div>
            <h2 class="presentation-subtitle text-center"></h2>
          </div>
        </div>
        <div class="moving-clouds" style="background-image: url('./assets/img/clouds.png'); "></div>
        <h6 class="category category-absolute">
         
        </h6>
      </div>
        
     
           
        
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md col-lg col-sm" *ngFor = "let card of card_detail">
                        <div class="card h-100" style="width: 18rem;" >
                            <img class="card-img-top img-fluid" src="../../assets/img/{{card.image}}.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{card.title}}</h5>
                              <p class="card-text">{{card.text}}</p>
                              <a routerLink="{{card.link}}" class="btn btn-primary">Take me there!!</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

