<head>
  <title>Fastfit21: Fit For Life</title>
  <meta name="description" content="Fastfit21 is a fitness and wellness blog dedicated at providing the best knowledge fot its users.">
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Fastfit21: Fit For Life">
  <meta property="og:description" content="Fastfit21 is a fitness and wellness blog dedicated at providing the best knowledge fot its users.">
  <meta property="og:url" content="https://www.fastfit21.com">
  <meta property="og:image" content="https://images.unsplash.com/photo-1554344728-77cf90d9ed26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

  <meta name="twitter:site" content="@aman_sutariya">
  <meta name="twitter:title" content="FastFit21: Fit For Life.">
  <meta name="twitter:description" content="Fastfit21 is a fitness and wellness blog dedicated at providing the best knowledge fot its users.">
  <meta name="twitter:url" content="https://www.fastfit21.com">
  <meta name="twitter:image" content="https://images.unsplash.com/photo-1554344728-77cf90d9ed26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
</head>


<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
<div class="container">
<div class="navbar-translate">
<a class="navbar-brand" routerLink="/" rel="tooltip" title="Fitness and HealthCare" data-placement="bottom" target="_blank">
  <img class="logo animated rubberBand infinite slower" alt="website-logo" data-lazy
  ="../../../assets/img/FastFit21.png"/>
</a>
<button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-bar bar1"></span>
  <span class="navbar-toggler-bar bar2"></span>
  <span class="navbar-toggler-bar bar3"></span>
</button>
</div>
<div class="collapse navbar-collapse justify-content-end" id="navigation">
<ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link" rel="tooltip" data-placement="bottom" href="#">
      Home
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" rel="tooltip" data-placement="bottom" href="http://www.bestfitnessplans.com/">
      Join BestFitnessPlans
    </a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" rel="tooltip"  data-placement="bottom" href="/train_with_them">
      Products
    </a>
  </li> -->
  
  <li class="nav-item">
    <a class="nav-link" rel="tooltip"  data-placement="bottom" href="/recipe_search">
      Calorie Tracker
    </a>
  </li> 
  
</ul>
</div>
</div>
</nav>
<!-- End Navbar -->


<div class="page-header section-dark" id="bannerImage" style="background-image:url('./assets/img/chest-opti.webp')">
<div class="filter"></div>
<div class="content-center">
<div class="container">
<div class="title-brand">
  <h1 class="presentation-title">Are you Obsessed <br/>with<br/> fitness??</h1>
    <div class="fog-low">
      <img alt="website-background-image" data-lazy="./assets/img/fog-low-opti.webp" alt="">
    </div>
    <div class="fog-low right">
      <img alt="website-background-image" data-lazy="./assets/img/fog-low-opti.webp" alt="">
    </div>
  </div>
<h2 class="presentation-subtitle text-center"></h2>
</div>
</div>
<div class="moving-clouds" style="background-image: url('./assets/img/clouds-opti.webp'); ">
</div>
<h6 class="category category-absolute">

</h6>
</div>




<div class="main">
<div class="container">
    <div class="row row-color">

      
      <div class="col-md col-lg col-sm card-col-flex">

        

        <div class="card h-70"  >
          <img class="card-img-top img-fluid card-6"  data-lazy="../../assets/img/home-workout-opti.webp" alt="Fat Loss">
          <div class="card-body">
            <h2 style="color: black;" class="card-title">Full body workout at home - 6 Best Home workouts</h2>
            <p  class="card-text">6 Best home workouts that can help you stay fit.</p>
            <a href="/best_home_exercises" class="btn btn-primary">Take me there!!</a>
          </div>
       </div>

       <div class="card h-70"  >
        <img class="card-img-top img-fluid card-6"  data-lazy="../../assets/img/belly-2354_1920.jpg" alt="Fat Loss">
        <div class="card-body">
          <h2 style="color: black;" class="card-title">The science of Fat loss.</h2>
          <p  class="card-text">Losing fat simplified - How to lose stubborn fat and how does fat loss really works?</p>
          <a href="/fat_loss" class="btn btn-primary">Take me there!!</a>
        </div>
     </div>


        <div class="card h-70"  >
          <img class="card-img-top img-fluid card-6"  data-lazy="../../assets/img/skinny.jpg" alt="How much time to gain muscle">
          <div class="card-body">
            <h2 style="color: black;" class="card-title">How much time does it take to build muscle?</h2>
            <p  class="card-text">Learn the average time taken to build muscle for all somatotypes.</p>
            <a href="/how_much_time_to_gain_muscle" class="btn btn-primary">Take me there!!</a>
          </div>
       </div>     
       



      </div>

              
        <div class="col-md col-lg col-sm card-col-flex">

          <div class="card h-70"  >
            <img class="card-img-top img-fluid card-6"  data-lazy="../../assets/img/sad-bodybuiler.jpg" alt="Bodybuiliding plateaus">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">Fitness plateaus: Bye bye!!</h2>
              <p  class="card-text">Sureshot methods to overcome a bodybuilding plateau.</p>
              <a href="/bodybuilding_plateaus" class="btn btn-primary">Take me there!!</a>
            </div>
         </div>
    

          <div class="card h-70"  >
            <img class="card-img-top img-fluid card-6"  data-lazy="../../assets/img/college-student.webp" alt="Fit College Student">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">How to stay fit being a college student</h2>
              <p  class="card-text">Ways to make time for fitness from your busy schedule.</p>
              <a href="/fit_student" class="btn btn-primary">Take me there!!</a>
            </div>
         </div>



          <div class="card h-70"  >
            <img class="card-img-top img-fluid card-6"  data-lazy="../../assets/img/injection.jpg" alt="Steroids">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">Steroids - Are they worth it?</h2>
              <p  class="card-text">Steroids - Use, side-effects, precautions, methods.</p>
              <a href="/steroids" class="btn btn-primary">Take me there!!</a>
            </div>
         </div>



        


       </div>

        

        <div class="col-md col-lg col-sm card-col-flex">

          <div class="card h-70"  >
            <img class="card-img-top img-fluid card-6"  data-lazy="../../assets/img/roid-rage.webp" alt="Broscience Busted">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">Broscience Busted!!! Debunking the myths.</h2>
              <p  class="card-text">8 myths that broscience taught us.</p>
              <a href="/broscience_busted" class="btn btn-primary">Take me there!!</a>
            </div>
         </div>


          <div class="card h-70"  >
            <img class="card-img-top img-fluid" data-lazy="../../assets/img/perfect_diet.webp" alt="Perfect diet plan">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">A perfect diet aka - a balanced meal.</h2>
              <p  class="card-text">Learn what all constitutes a balanced meal.</p>
              <a href="/balanced_diet" class="btn btn-primary">Take me there!!</a>
            </div>
           </div>

            
            <div class="card h-70"  >
              <img class="card-img-top img-fluid" data-lazy="../../assets/img/covid191.jpg" alt="Boost Immunity">
              <div class="card-body">
                <h2 style="color: black;" class="card-title">Corona Crisis!! Is your body ready for pandemics like this??</h2>
                <p  class="card-text">Boost your immunity to keep infections at bay.</p>
                <a href="/immunity_infections" class="btn btn-primary">Take me there!!</a>
              </div>
           </div>






        </div>

        <div class="col-md col-lg col-sm card-col-flex">

          <div class="card h-70">
            <img loading='lazy' class="card-img-top img-fluid" data-lazy="../../assets/img/arms1.webp" alt="Beginners Exercise">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">Beginners Exercise</h2>
              <p  class="card-text">The exercises you need to be doing as a beginner.</p>
              <a href="/beginners_exercise" class="btn btn-primary">Take me there!!</a>
            </div>
          </div>

          <div class="card h-70"  >
            <img class="card-img-top img-fluid" data-lazy="../../assets/img/abs-opti.webp" alt="Best protein supplements">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">Best protein supplements</h2>
              <p class="card-text">What are the best protein supplements available in the market??</p>
              <a href="/best_protein_supplements" class="btn btn-primary">Take me there!!</a>
            </div>
          </div>
          
          <div class="card h-70"  >
            <img class="card-img-top img-fluid" data-lazy="../../assets/img/body-opti.webp" alt="Bodybuilding Beginners Guide">
            <div class="card-body">
              <h2 style="color: black;" class="card-title">Bodybuilding:A Beginners Guide</h2>
              <p  class="card-text">Everything you need to get started with a healthy life!</p>
              <a href="/bodybuilding_beginners_guide" class="btn btn-primary">Take me there!!</a>
            </div>
          </div>
        </div>

    </div>

    <div class="footer">
      <footer class="footer-section">
      <ul class="footer-list">
          <li class="footer-list-item"><a style="color: white;" href="https://www.twitter.com/@aman_sutariya"><i class="fa fa-twitter-square"></i></a></li>
          <li class="footer-list-item"><a style="color: white;" href="https://www.facebook.com/fastfit21.fitness/"><i class="fa fa-facebook-official"></i></a></li>
          <li class="footer-list-item"><a><i class="fa fa-instagram"></i></a></li>
          <li class="footer-list-item"><a><i class="fa fa-linkedin-square"></i></a></li>
      </ul>   
      <ul class="footer-list-2">
          <li class="footer-list-item-2"><a style="color: white;" routerLink="/about">ABOUT</a></li>
          <li class="footer-list-item-2"><a>CONTACT</a></li>
          <li class="footer-list-item-2"><a routerLink="/newsletter" style="color: white;">SUBSCRIBE</a></li>
      </ul>
      <p class="copyright-trademark">© 2020 FASTFIT21 , LLC | LEGAL</p>
      </footer>
      </div>
</div>
</div>

