
/* override the default margin for sibling elements  */

/* 

.header {
    background: #eee;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5vw;
    margin: 0;

    @media (min-width: calc(550px + 10vw)) {
        padding-left: calc((100vw - 550px - 0.5rem) / 2);
        padding-right: calc((100vw - 550px - 0.5rem) / 2);
    }
} */

.navbar-list {
    display: flex;
}

.navbar-item {
    display: flex;
    margin:1rem 1rem 0 0;
}

.nav-link {
    text-decoration: none;
    text-emphasis: none;
    color: black;
}



.col {
    display: flex;
    padding: 0;
    margin: 1rem 0 0 0;
}

.card {
margin:  1rem 1rem 1rem 0;
}


